*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.padding-page{
    padding: 20px 100px;
    min-width: 790px;
}

.layhover{
    background-color: rgba(0, 0, 0, 0.9);
}

.logo{
    height: 50%;
    background-size: contain;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

li{
    display: inline-block;
    padding: 0 10px;
}

a{
    text-decoration: none;
    color: rgba(141, 139, 139, 0.842);
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.text-lightgray{
    color: rgba(141, 139, 139, 0.842);
}

.text-white{
    color: white;
}

.jumbotron{
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 250px;
    padding-left: 80px;
}

.jumbo-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.jumbotron__content{
    height: 100px;
    width: 55%;
    min-width: 55%;
}

.bg-color-skyblue{
    background-color: rgb(84, 164, 240);
}

.bg-color-blue{
    background-color: rgb(70, 46, 173);
}

.top-header{
    height: 150px;
    width: 100%;
    margin-bottom: 30px;
}

.articles-header{
    height: 100px;
    width: 100%;
}

div.container.clearfix{
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.aside-article{
    height: 100%;
    width: calc(35% / 2);
}

.float-left{
    float: left;
}

.middle-article{
    height: 100%;
    margin: 0 25px;
    width: calc(65% - 50px);
}

footer{
    background-color: rgb(123, 40, 131);
    height: 60px;
}
