*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.padding-page{
    padding: 20px 100px;
    min-width: 790px;
}

.top-header{
    height: 150px;
    width: 100%;
    margin-bottom: 30px;
}

.logo{
    height: 50%;
    background-size: contain;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

li{
    display: inline-block;
    padding: 0 10px;
}

a{
    text-decoration: none;
    color: rgba(141, 139, 139, 0.842);
    font-weight: bold;
}

ul{
    list-style-type: none;
}

h4{
    margin: 16px 0;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.text-lightgray{
    color: rgba(141, 139, 139, 0.842);
}

.text-white{
    color: white;
}

.img-container{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.jumbotron{
    height: 500px;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 300px;
    padding-left: 80px;
}

#jumbo-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/banner.jpg);
}

.jumbotron__content{
    height: 100px;
    width: 55%;
    min-width: 55%;
}

.articles-header{
    height: 100px;
}

header.articles-header h1{
    font-size: 40px;
}

header div.text-lightgray{
    font-weight: bold;
}

div.container.clearfix{
    height: 600px;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0;
}

.aside-article{
    height: 100%;
    width: calc(40% / 2);
}

.middle-article{
    height: 100%;
    margin: 0 25px;
    width: calc(60% - 50px);
}

div#img-aside-left, div#img-aside-right, div#img-middle{
    height: 200px;
}

#img-aside-left{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/img-1.jpg);
}

#img-aside-right{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/img-6.jpg);
}

#img-middle{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/banner-2.jpg);
}

footer{
    height: 60px;
    text-align: center;
}
footer div{
    font-size: 20px;
}

span.heart-red{
    display: none;
}

.heart-red{
    color: red;
    font-size: 25px;
}

footer:hover .heart-red{
 display: inline-block;
}